<p id="notice"><%= notice %></p>

<p>
  <strong>Selected:</strong>
  <%= @card.selected %>
</p>

<p>
  <strong>Player:</strong>
  <%= @card.player %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
